
#thirdSlideBg{z-index: 0;}

@keyframes housesAnim {
    0%{
        translate: 0vw 0vh;
    }
    100%{
        translate: -100vw 0vh;
    }
}
#thirdSlideBgHouses{
    display: flex;
    align-items: end;
}

#thirdSlideFrontHouses{
    display: flex;
    align-items: end;
}
